# Directorio de compilación de Maven
target/

# Archivos específicos de Eclipse
.settings/
.project
.classpath
*.prefs

# Archivos de otros IDEs por si acaso
.idea/
*.iml
.vscode/

# Archivos compilados de Java
*.class

# Archivos de sistema macOS
.DS_Store
**/.DS_Store
